body {
  background-color: black;
  color: white;
}
.App {
  margin: 0%;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(85, 74, 74);
  background-position: center;
  position: relative;
}
.heading {
  color: white;
}
.progress-container {
  width: 250px;
  color: #363a43;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 19px;
  font-weight: normal;
  font-size: 14px;
  color: #363a43;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.upload-list {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f0f0f0;
  border: 0.1rem solid #cfdbde;
  border-radius: 0.2rem;
  padding: 10px;
  width: 550px;
}

.file-size {
  color: #7eb631;
}

#upload-button {
  background-color: rgb(88, 59, 232);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 16px;
}

#upload-button:hover {
  opacity: 0.8;
}

#clear-button {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 16px;
}

#clear-button:hover {
  opacity: 0.8;
}

.drag-drop-container {
  width: 85vw;
  height: 200px;
  border: 2px dashed #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  background-size: cover;
}

.drag-drop-text {
  font-size: 16px;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  margin-bottom: 10rem;
  max-width: 100%;
  text-align: center;
  position: relative;
  color: black;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  background-image: url("../../assets/dragdrop.jpeg");
  background-size: cover;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.response-div {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

/* Add these styles to your existing CSS file or create a new one */

/* Select input */
#algorithm-select {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

/* Response div */
.response-div {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.heading {
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#algorithm-select {
  width: 250px;
  text-align: center;
}

input[type="file"] {
  margin-top: 1rem;
}

.result {
  margin-top: 1rem;
}

.result p {
  font-size: 1.5rem;
  font-weight: bold;
}

.submitButton {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  width: 250px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  height: 3rem;
  border-radius: 10px;
}

#form-file-upload {
  margin-bottom: 0%;
  margin-top: 1rem;
}

#clear-button {
  margin-top: 1rem;
}

.upload-list {
  margin-top: 1rem;
  width: 430px;
}

.file-name {
  width: 110px;
  color: black;
  font-weight: bold;
}

.progress-container {
  font-weight: bold;
  font-size: medium;
  text-align: center;
}
.file-size{
  font-weight: bold;
  font-size: medium;
}